/*
    User License Agreement

    This code and associated data were created by Andrew Chacon and Graeme O'Keefe (the "Creators"). 
    By using this code and associated data (the "Software"), you agree to the following terms:

    1. The Software is provided "as is", without warranty of any kind, express or implied, including but not limited to 
       the warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event shall the 
       Creator be liable for any claim, damages, or other liability, whether in an action of contract, tort, or otherwise, 
       arising from, out of, or in connection with the Software or the use or other dealings in the Software.

    2. The Software is intended for non-clinical use only. The Creator does not provide any guarantees or assurances 
       regarding the suitability of the Software for medical or clinical purposes. Users assume all responsibility for 
       any application of the Software in any setting.

    3. Redistribution and use of the Software, with or without modification, are permitted provided that the following 
       conditions are met:
       - The above copyright notice and this permission notice shall be included in all copies or substantial portions 
         of the Software.
       - Proper attribution to the Creator must be provided in all derivative works or reproductions.

    4. The Creator reserves the right to modify or discontinue the Software at any time without prior notice.

    5. Any disputes arising from the use of the Software shall be governed by and construed in accordance with the laws 
       of Australia.

    © 2024 Andrew Chacon and Graeme O'Keefe. All rights reserved.
*/
.divider {
  border-top: 3px dashed var(--divider-color, #ccc); /* Increased width and used variable */
  width: 100%;
  margin: 20px 0;
}

.dynamic-width {
    width: auto; /* Ensure the width is set to auto */
}

/* Hidden span for measuring the text width */
.hidden-span {
    visibility: hidden;
    white-space: nowrap;
    position: absolute;
	
}

.alinedRight
{
		text-align: left;

}

@media print  
{
	            body {
                margin: 0; /* Remove default margins */
            }
		button{
		display: none;
		}


	.numberInputDiv label, .numberInputDiv input, .grid
	{
		display: inline-block;
		text-align: left;
        flex-wrap: nowrap !important; /* Prevent wrapping in print view */
		margin: 0 !important; /* Ensure no margins are applied */
        /*font-size: 14px; /* Optionally scale down input text */

	}
}

        .pdfViewer {
            width: 100%;
            height: 600px;
            border: none;
            display: none;
        }
        .closeButton {
            display: none;
			background-color: rgb(217, 53, 38);
			border-color: rgb(217, 53, 38);
        }
		.red-button{
		
		}